@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root { 
    --font: um site para encontrar cores que combinem em design de sites;
    --primary-color: #FFF4E0;
    --bg-color: #B46060;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
}

.titulo {
    font-size: 3.5em;
    font-weight: 700;
}

.subtitulo{
    font-size: 2em;
    margin-top: 20px;
    font-weight: 400;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 43px ;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.restart{
    padding: 1.5em 3em;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
}

.restart:hover{
    background-color: rgb(187, 187, 187);
}